@import "../../../styles/variables.styl"
@import "../../../styles/media.styl"

.result {

  &__cityList {
    border-top: none;
  }

  &__top {
    position fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    +media($small) {
      position: static;
    }
  }

  &__popup {
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width 100%
    padding: 10px 70px 10px 70px;
    background-color rgba(0, 0, 0, 0.7);

    +media($small) {
      padding: 10px 30px 10px 30px;
    }

    +media($xsmall) {
      padding: 10px;
    }
  }

  &__popupItem {
    max-height: 100%;
    overflow-y: scroll;
  }

  &__resultHeader {
    background-color: $header-gray;

    .header__buttons {
      +media($small) {
        display: none;
      }
    }
  }

  &__resultMap {
    width: 100%;
    height: 50%;

    .gm-fullscreen-control {
      display: none;
    }

    .gm-bundled-control {
      bottom: 150px !important;
    }

    +media($small) {
      display: none;
    }
  }

  &__withOutMap&__resultMap {
    display: none;
  }

  &__withOutMap {
    position: static;
    margin-top: 0 !important;
  }

  &__footerBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__resultBlock {

    +mediaMin($small) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      padding-left: 25%;
      padding-bottom: 68px
    }
  }

  &__leftBlock {
    +mediaMin($small) {
      width: 25%;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
    }

    +media($small) {
      display: none;
    }
  }

  &__resultFooter {
    z-index 10
    // position: fixed;
    bottom: 0;
    width: 100%;

    +media($small) {
      position: relative;
    }
  }

  &__bigMap {
    height: 100%;
  }

  &__agreement {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 20px $black-opacity;
    z-index: 20;
  }
}